<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @property.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>
<hr>

<p>
  
  <% @property.stations.order(:distance).limit(1).each do |f| %>
    <h3>Nearest station 1</h3>
    Name of railway line: <%=f.railway%> <br>
    Station name: <%=f.name%><br>
    How many minutes walk: <%=f.distance%> min/mins
  <%end%>
  <% @property.stations.order(:distance).limit(1).offset(1).each do |f| %>
    <h3>Nearest station 2</h3>
    Name of railway line: <%=f.railway%> <br>
    Station name: <%=f.name%><br>
    How many minutes walk: <%=f.distance%> min/mins
  <%end%>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
